html, body {
     line-height: 1.5;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: #E7713B;
     font-size: 16px;
     font-family: helvetica;
}
/*Container*/
 .left {
     box-sizing: border-box;
     width: 60%;
     height: 100vh;
     display: inline-block;
}
 .right {
     box-sizing: border-box;
     width: 40%;
     height: 100vh;
     display: inline-block;
     position: absolute;
     top: 0;
     background-image: url("images/try3.jpg");
}
/*Right side navigation*/
 .arrow-left {
     display: inline-block;
     position: absolute;
     top: 48%;
     left: 30px;
     width: 40px;
}
 .arrow-right {
     display: inline-block;
     position: absolute;
     top: 48%;
     right: 30px;
     width: 40px;
}
 .dots {
     position: absolute;
     right: 30px;
     width: 60px;
}
/*Main text/box 1*/
 h1 {
     font-size: 40px;
     font-weight: bold;
     margin-top: 10px;
     margin-bottom: 0;
}
 p {
     margin-top: 0;
}
 .contact,
 .resume {
     text-decoration: none;
     font-size: 14px;
     color: #E7713B;
     border: 2px solid #E7713B;
     padding: 10px;
     margin-right: 10px;
}
 a:hover, 
 a:active {
     color: #FFFFFF;
     border-color: #FFFFFF;
}
 a {
     font-weight: bold;
     color: white;
     text-decoration: none;
}
/*Flex Box*/
 .container {
     height: 100%;
     display: flex;
     flex-wrap: wrap;
}
/*Box Styles*/
 .box {
     text-align: center;
     padding-top: 200px;
     box-sizing: border-box;
    /*height: 259px;
    */
     width: 33.33%;
}
 .box:hover {
     background-image: url("images/cocktailhover.svg");
}
 .one {
     text-align: left;
     overflow: scroll;
     padding: 20px;
     width: 66.66%;
     background-color: #7bffb5;
}
 .one:hover {
     background-image: none;
}
 .two {
     background-color: #1edee5;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .two:active {
     background-size: 220%;
     background-image: url("images/car.gif");
}
 .three {
     background-color: #00cad2;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .three:active, .three:visited {
     background-size: 220%;
     background-image: url("images/cr2.gif");
}
 .four {
     background-color: #2599c5;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .four:active, .four:visited {
     background-size: 220%;
     background-image: url("images/cr4.gif");
}
 .five {
     background-color: #0479ae;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .five:active, .five:visited {
     background-size: 220%;
     background-image: url("images/cr5.gif");
}
 .six {
     background-color: #2599c5;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .six:active, .six:visited {
     background-size: 220%;
     background-image: url("images/cr6.gif");
}
 .seven {
     background-color: #7bffb5;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .seven:active, .seven:visited {
     background-size: 220%;
     background-image: url("images/cr7.gif");
}
 .eight {
     background-color: #00cad2;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .eight:active, .eight:visited {
     background-size: 220%;
     background-image: url("images/cr8.gif");
}
 .nine {
     background-color: #7bffb5;
     background-image: url("images/cocktail.svg");
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}
 .nine:active, .nine:visited {
     background-size: 220%;
     background-image: url("images/cr9.gif");
}

/*Media Query*/
 @media screen and (max-width: 900px) {
     .box {
         width: 100%;
         height: 250px;
         background-size: 25%;
    }
     .one {
         height: 250px;
    }
     .left {
         width: 50%;
    }
     .right{
         background-image: url("images/ronMediaQ.jpg");
         width: 50%;
    }
}
 @media screen and (max-width: 500px) {
     .right {
         display: none;
    }
     .left {
         width: 100%;
         height: 100px;
    }
}
